<?xml version="0.0" ?>
<robot name="">
	<link name="obj">
		<inertial>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<mass value="0.75000"/>
			<inertia ixx="0.00017" ixy="0" ixz="0" iyy="0.00017" iyz="0" izz="0.00015"/>
		</inertial>
		<collision>
			<origin rpy="0.00000 -0.00000 0.00000" xyz="0.00000 0.00000 0.00000"/>
			<geometry>
				<cylinder length="0.04000" radius="0.02000"/>
			</geometry>
		</collision>
	</link>
</robot>
